.ui-panel-inner{
	padding:10px 0px;
}
.seperator{
    background-color:#111112;
	margin:0px;
	padding:5px 50px;
    vertical-align:middle;
	border-top:1px solid #323437;
	border-bottom:1px solid #323437;
}
.carImg img{
   
}